/*------------------------------------*\
 *  Proto by @adamwhitcroft
 *  V1.01
 *
 *  Proto is a simple HTML & SCSS rapid 
 *  prototyping toolkit for responsive web design.
 *
 *  http://adamwhitcroft.com/proto/
\*------------------------------------*/

//  Proto vars
//  Be sure to inlclude appropriate units i.e. 'px', '%', 'em' etc
//  (These comments will be stripped out during compile)

//  Base
$protoBlockHeight: 80px;
$centerWidth: 70%;

//  Demo
$DemoPass: #dff0d8;
$DemoFail: #f0d8d8;

//  Media Query
$desktopWidth: 1024px;	
$tabletWidth: 768px;
$phoneWidth: 480px;

.proto {

	div {
		position:relative;
		display:table;
		box-sizing:border-box;
		width:100%;
		height:$protoBlockHeight;
		background:#eee;
		color:#9099A3;
	}

	.center {
		margin:0 auto;
		width:$centerWidth;
	}

	.label {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}

	.grid div {
		float:left;
	}

	.grid .hundred {
		width:100%;
	}

	.grid .ninety {
		width:90%;
	}

	.grid .eighty {
		width:80%;
	}

	.grid .seventyfive {
		width:75%;
	}

	.grid .seventy {
		width:70%;
	}

	.grid .sixty {
		width:60%;
	}

	.grid .fifty {
		width:50%;
	}

	.grid .forty {
		width:40%;
	}
	.grid .thirtythree {
		width:33.333%;
	}

	.grid .thirty {
		width:30%;
	}

	.grid .twentyfive {
		width:25%;
	}

	.grid .twenty {
		width:20%;
	}

	.grid .ten {
		width:10%;
	}

	.not-desktop {
		display:none;
	}

	.tablet {
		display:none;
	}

	.phone {
		display:none;
	}

}

/* Desktop */

@media (min-width:$desktopWidth) {

	.proto {
		.desktop-demo,
		.not-tablet-demo,
		.not-phone-demo {
			background:$DemoPass;
			color:darken($DemoPass,50%);
		}

		.not-desktop-demo,
		.tablet-demo,
		.phone-demo {
			background:$DemoFail;
			color:darken($DemoFail,50%);
		}

		.grid .desktop-to-hundred {
			width:100%;
		}

		.grid .desktop-to-ninety {
			width:90%;
		}

		.grid .desktop-to-eighty {
			width:80%;
		}

		.grid .desktop-to-seventyfive {
			width:75%;
		}

		.grid .desktop-to-seventy {
			width:70%;
		}

		.grid .desktop-to-sixty {
			width:60%;
		}

		.grid .desktop-to-fifty {
			width:50%;
		}

		.grid .desktop-to-forty {
			width:40%;
		}
		.grid .desktop-to-thirtythree {
			width:33.333%;
		}

		.grid .desktop-to-thirty {
			width:30%;
		}

		.grid .desktop-to-twentyfive {
			width:25%;
		}

		.grid .desktop-to-twenty {
			width:20%;
		}

		.grid .desktop-to-ten {
			width:10%;
		}

	}

}

/* Tablet Up To Desktop */

@media (min-width:$tabletWidth) and (max-width:$desktopWidth - 1px) {

	.proto {

		.tablet {
			display:table;
		}

		.not-desktop {
			display:none;
		}

		.not-tablet {
			display:none;
		}

		.desktop-demo,
		.tablet-demo,
		.not-phone-demo {
			background:$DemoPass;
			color:darken($DemoPass,50%);
		}

		.not-desktop-demo,
		.not-tablet-demo,
		.phone-demo {
			background:$DemoFail;
			color:darken($DemoFail,50%);
		}

		.grid {

			.tablet-to-hundred {
				width:100%;
			}

			.tablet-to-ninety {
				width:90%;
			}

			.tablet-to-eighty {
				width:80%;
			}

			.tablet-to-seventyfive {
				width:75%;
			}

			.tablet-to-seventy {
				width:70%;
			}

			.tablet-to-sixty {
				width:60%;
			}

			.tablet-to-fifty {
				width:50%;
			}

			.tablet-to-forty {
				width:40%;
			}
			.tablet-to-thirtythree {
				width:33.333%;
			}

			.tablet-to-thirty {
				width:30%;
			}

			.tablet-to-twentyfive {
				width:25%;
			}

			.tablet-to-twenty {
				width:20%;
			}

			.tablet-to-ten {
				width:10%;
			}

		}

	}

}

/* Tablet Down To Phone */

@media (max-width:$tabletWidth - 1px) {

	.proto {

		.desktop {
			display:none;
		}

		.not-desktop {
			display:table;
		}

		.tablet {
			display:table;
		}

		.not-tablet {
			display:none;
		}

		.phone {
			display:table;
		}

		.not-phone {
			display:none;
		}

		.not-desktop-demo,
		.tablet-demo,
		.phone-demo {
			background:$DemoPass;
			color:darken($DemoPass,50%);
		}

		.desktop-demo,
		.not-tablet-demo,
		.not-phone-demo {
			background:$DemoFail;
			color:darken($DemoFail,50%);
		}

		.grid {

			.phone-to-hundred {
				width:100%;
			}

			.phone-to-ninety {
				width:90%;
			}

			.phone-to-eighty {
				width:80%;
			}

			.phone-to-seventyfive {
				width:75%;
			}

			.phone-to-seventy {
				width:70%;
			}

			.phone-to-sixty {
				width:60%;
			}

			.phone-to-fifty {
				width:50%;
			}

			.phone-to-forty {
				width:40%;
			}
			.phone-to-thirtythree {
				width:33.333%;
			}

			.phone-to-thirty {
				width:30%;
			}

			.phone-to-twentyfive {
				width:25%;
			}

			.phone-to-twenty {
				width:20%;
			}

			.phone-to-ten {
				width:10%;
			}

		}

	}

}
 
/* Phones */

@media (max-width:$phoneWidth) {

	.proto {

		div,
		.grid div {
			float:none;
			width:100% !important;
		}

		.center {
			margin:0;
			width:100%;
		}

		.desktop {
			display:none;
		}

		.tablet {
			display:none;
		}

		.phone {
			display:table;
		}

		.not-phone {
			display:none;
		}

		.not-desktop-demo,
		.not-tablet-demo,
		.phone-demo {
			background:$DemoPass;
			color:darken($DemoPass,50%);
		}

		.desktop-demo,
		.tablet-demo,
		.not-phone-demo {
			background:$DemoFail;
			color:darken($DemoFail,50%);
		}

	}

}
/*------------------------------------*\
*  Enjoy!
\*------------------------------------*/